.sidebar {
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 15.625rem;
    height: calc(100vh - 4.375rem);
    background: var(--primary);
    backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 1.25rem;
    transition: all 0.3s ease;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 1.25rem;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.25rem;
    display: block;
    transition: color 0.3s ease;
  }
  
  .linkSlider {
    display: flex;
    align-items: center;
  }
  
  .icon {
    padding-right: 0.3125rem;
    font-size: 1.875rem;
  }
  
  .sidebar ul li a:hover {
    color: var(--secondary);
    transition: color 0.3s ease;
    text-decoration: underline;
  }
  
  .headerHomePacie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.25rem;
    width: 100%;
    background-color: var(--primary);
    height: 4.375rem;
    position: fixed;
    top: 0;
    z-index: 1001;
  }
  
  .headerHomePacie svg {
    font-size: 1.875rem;
    cursor: pointer;
  }
  
  .menuAndLogo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 3.125rem;
  }
  
  .userName {
    position: relative;
  }
  
  .userIcon {
    font-size: 1.875rem;
    cursor: pointer;
  }
  
.dropdownMenu {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: var(--soft-white);
    border: 1px solid var(--primary);
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
}

.dropdownMenu .linkHome {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--black);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownMenu .linkHome:hover {
    color: var(--secondary);
    background-color: var(--light-gray);
}

/* Busca */
.searchContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--black);
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  outline: none;
}

.clients {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
  gap: 20px; /* Espaço entre os cards */
  justify-content: space-between; /* Alinha os cards no espaço disponível */
}

.clientCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  transition: transform 0.3s;
  background-color: var(--primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 550px;
  margin-bottom: 20px;
}

.clientCard:hover {
  transform: translateY(-5px);
}

.clientImage {
  width: 350px;
  border-radius: 5%;
  margin-bottom: 10px;
}

.clientInfo {
  text-align: center;
}

.viewProfile {
  display: inline-block;
  text-decoration: none;
  margin-top: 8px;
  padding: 6px 12px;
  color: var(--terceary);
  border: 1px solid var(--terceary);
  border-radius: 4px;
  font-size: 0.875rem;
  transition: background-color 0.3s, color 0.3s;
}

.viewProfile:hover {
  background-color: var(--primary);
  color: var(--white);
}

.nutriHomeTitle{
  text-align: center;
}

/* Mensagem de erro */
.noClients {
  color: var(--secondary);
  font-size: 1.1rem;
  text-align: center;
}

/* Footer */
.footerHomeP {
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 70px;
    font-size: 1.125rem;
    color: var(--terceary);
    padding: 0 2.25rem;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footerHomeP ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.footerHomeP ul li a {
    text-decoration: none;
    color: var(--terceary);
    transition: color 0.3s ease;
}

.footerHomeP ul li a:hover {
    text-decoration: underline;
    color: var(--secondary);
}