.containerForgot {
  width: 36.25rem;
  height: auto;
  text-align: center;
  box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
  margin: auto;
  border-radius: 0.625rem;
  margin-top: 4.375rem;
  padding: 2rem;
}

.tituloForgot {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.intForgot::placeholder {
  text-align: center;
}

.boxForgot {
  justify-content: center;
  width: 100%;
  margin: 1.875rem auto 0;
}

.textoForgot {
  margin-bottom: 2.5rem;
}

.intForgot {
  display: block;
  width: 100%;
  max-width: 21.875rem;
  padding: 0.625rem;
  margin: 0.625rem auto 0.9375rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.forgotLabel {
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  text-align: left;
}

.btnForgot {
  width: 100%;
  max-width: 30%;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--terceary);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.1875rem solid var(--terceary);
  color: var(--logo);
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2.5rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btnForgot:hover {
  background-color: var(--logo);
  border-color: var(--logo);
  color: var(--terceary);
}

.imgForgot {
  width: 100%;
  max-width: 15.625rem;
  margin-top: 1.875rem;
  border-radius: 5%;
}

.voltarForgot {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 1.25rem;
  font-size: 0.9375rem;
  color: var(--terceary);
}

.voltarForgot:hover {
  text-decoration: underline;
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
  .containerForgot {
    width: 80%;
    padding: 1.5rem;
  }

  .intForgot {
    width: 100%;
  }

  .btnForgot {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .containerForgot {
    width: 90%;
    padding: 1.25rem;
  }

  .intForgot {
    width: 100%;
  }

  .btnForgot {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .containerForgot {
    width: 100%;
    padding: 1rem;
  }

  .intForgot {
    width: 100%;
  }

  .btnForgot {
    width: 100%;
  }
}
