/* Glassmorphism Sidebar */
.sidebar {
  position: fixed;
  top: 4.375rem;
  left: 0;
  width: 15.625rem;
  height: calc(100vh - 4.375rem);
  background: var(--primary);
  backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.3);
  padding-top: 1.25rem;
  transition: all 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 1.25rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.25rem;
  display: block;
  transition: color 0.3s ease;
}

.linkSlider {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 0.3125rem;
  font-size: 1.875rem;
}

.sidebar ul li a:hover {
  color: var(--secondary);
  transition: color 0.3s ease;
  text-decoration: underline;
}

/* Header */
.headerHomePacie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.25rem;
  width: 100%;
  background-color: var(--primary);
  height: 4.375rem;
  position: fixed;
  top: 0;
  z-index: 1001;
}

.headerHomePacie svg {
  font-size: 1.875rem;
  cursor: pointer;
}

.menuAndLogo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3.125rem;
}

.userName {
  position: relative;
}

.userIcon {
  font-size: 1.875rem;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: var(--soft-white);
  border: 1px solid var(--primary);
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}

.dropdownMenu .linkHome {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownMenu .linkHome:hover {
  color: var(--secondary);
  background-color: var(--light-gray);
}

/* Main Content */
.questionarioMain {
  margin-top: 3.75rem;
  width: calc(100% - 12.5rem);
  height: 45rem;
  margin-left: 15.625rem;
  padding: 1.875rem;
  transition: margin-left 0.3s ease;
}

.questionarioMain h1 {
  text-align: center;
  margin-top: .9375rem;
  margin-bottom: 1.875rem;
  color: var(--secondary);
  font-weight: 600;
}

/* Questionário Card */
.questionarioContainer {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-left: 9.375rem;
}

.questionarioCard {
  background-color: var(--primary);
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  width: 18.75rem;
}

.questionarioCard p {
  margin-bottom: 15px;
  font-weight: 600;
}

.progress {
  background-color: #f2f2f2;
  border-radius: 0.3125rem;
  overflow: hidden;
  margin-bottom: .9375rem;
}

.progressBar {
  height: 0.625rem;
  background-color: #00b33c;
}
#progressBar{
    height: 0.625rem;
  background-color: #ffe100;
}

.questionarioButton {
  background-color: var(--terceary);
  color: var(--logo);
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.25rem;
}

.questionarioButton:hover {
  background-color: var(--logo);
  color: var(--terceary);
  transition: 0.5s ease;
}

/* Footer */
.footerHomeP {
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 70px;
  font-size: 1.125rem;
  color: var(--terceary);
  padding: 0 2.25rem;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footerHomeP ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footerHomeP ul li a {
  text-decoration: none;
  color: var(--terceary);
  transition: color 0.3s ease;
}

.footerHomeP ul li a:hover {
  text-decoration: underline;
  color: var(--secondary);
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
  .headerHomePacie {
    padding: 0 1.5rem;
  }

  .sidebar {
    width: 12.5rem;
  }

  .questionarioMain,
  .footerHomeP {
    margin-left: 12.5rem;
    width: calc(100% - 12.5rem);
  }
}

@media (max-width: 768px) {
  .headerHomePacie {
    padding: 0 1rem;
  }

  .sidebar {
    width: 11.25rem;
  }

  .questionarioMain,
  .footerHomeP {
    margin-left: 11.25rem;
    width: calc(100% - 11.25rem);
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .headerHomePacie {
    padding: 0 0.5rem;
  }

  .sidebar {
    width: 9.375rem;
  }

  .questionarioMain,
  .footerHomeP {
    margin-left: 9.375rem;
    width: calc(100% - 9.375rem);
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
